<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>勤怠登録</title>
<script th:src="@{/js/attendance}" type="text/jacascript"></script>
</head>
<body>
<p>
	ユーザー名：<span th:text="${session.userName}"></span>
</p>

<p>
	<form method="post" th:action="@{/attendanceRegister}">
		<input type="submit" value="出勤登録" onClick="Check();"/>
	</form>
	<!-- <a th:href="@{/attendanceRegister}">出勤登録</a> -->
</p>

<p>
	愚痴相談登録
	<form method="post" th:action="@{/complaints}">
		開始時間<input type="time" name="startTime" />
		<input type="submit" value="登録"/>
	</form>
</p>
	
<p>
	<a th:href="@{/findAllAttendance}">勤怠情報一覧</a>
</p>


<p>
	<a th:href="@{/select}">戻る</a>
</p>
</body>
</html>