<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="UTF-8">
<title>勤怠情報一覧</title>
</head>
<body>
<p>
	ユーザー名：<span th:text="${session.userName}"></span>
</p>

<table border=1>
	<tr>
		<th colspan="2">日付</th>
		<th>開始</th>
		<th>終了</th>
		<th>区分</th>
		<th>勤務時間</th>
		<th>プロジェクト</th>
		<th>場所</th>
		<th>備考</th>
	</tr>
	<tr th:each="attendance: ${attendance}">
		<td th:text="${#dates.format(attendance.date, 'MM/dd')}"></td>
		<td th:text="${#dates.format(attendance.date, 'E')}"></td>
		<td th:text="${attendance.startTime}"></td>
		<td th:text="${attendance.endTime}"></td>
		<td th:text="${attendance.division}"></td>
		<td th:text="${attendance.workHours}"></td>
		<td th:text="${attendance.project}"></td>
			<td th:text="${attendance.place}"></td>
		<td th:text="${attendance.remarks}"></td>
	</tr>
</table>

<p>
	<a th:href="@{/attendanceSystem}">戻る</a>
</p>
</body>
</html>