<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>GoodSunLMS ログイン</title>

<style>
body{
		background:aliceblue;
}

#login{
		text-align:center;
		background:#cab8d9;
		margin:100px;
		padding:100px;
}
.error{
	color:red;
}
</style>

</head>
<body>
<div id="login">
	<form method="post" th:action="@{/login}" th:object="${loginForm}">
	<p>userName:<input type="text" th:field="*{userName}"/>
	<span class="error" th:errors="*{userName}"></span></p>
	<p>password:<input type="password" th:field="*{password}" />
	<span class="error" th:errors="*{password}"></span></p>
	<p><input type="submit" value="ログイン" /></p>
</form>
<button onclick="window.location.href = './adduser'" >新規登録</button>
</div>


</body>
</html>