<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>勤怠情報入力</title>
</head>
<body>
<form method="post" th:action="@{/doManualInput}">
		開始時間◆<input type="time" value="09:00" name="startTime" />
		終了時間◆<input type="time" value="18:00" name="endTime" />
		勤務時間◆<input type="time" value="00:00" name="workHours" />
		<br />
		区分◆<input type="text" name="division" />
		<br />
		プロジェクト◆<input type="text" name="project" list="project" placeholder="選択または入力" autocomplete="off"/>
			<datalist id="project">
				<option value="新入社員研修">
				<option value="新人教育（愚痴相談）">
			</datalist>
		<br />
		作業場所◆<input type="text" name="place" list="place" placeholder="選択または入力" autocomplete="off"/>
			<datalist id="place">
				<option value="高田馬場">
				<option value="中野">
				<option value="在宅">
			</datalist>
		<br />
		備考◆<input type="text" name="remarks" list="remarks" placeholder="選択または入力" autocomplete="off"/>
			<datalist id="remarks">
				<option value="やっとむ屋">
			</datalist>
		<br />
		<input type="submit"value="登録" />
	</form>
</body>
</html>