<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メニュー</title>
</head>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript">
	$(document).ready(function(){
		if($("input[name='done']").val()){
			alert('job done!');
		}		
	})
</script>
<body>
<input type="hidden" name="done" th:if="${session.done}" th:value="${session.done}"/>
<p>
	ユーザー名：<span th:text="${session.userName}"></span>
</p>

<a th:href="@{/dailyReport}">日報</a>
<br/>
<a th:href="@{/attendanceSystem}">勤怠登録</a>

<p>
	<a th:href="@{/logout}">ログアウト</a>
</p>

</body>
</html>