@charset "UTF-8";

#header {
 background-color:#ffdead;
 height: 80px;
 display:flex;
 justify-content:flex-end;
 align-items:flex-end;
 
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
}

#container{
	background-image: url();
	background-size: cover;
}

article{
 display:flex;
 margin-top: 80px;
 width: 100%;
 min-height: 100vh;
}
body{
	margin: 0px;
}
#sidebar {
 background-color: #ffefd5;
/*  height: 700px; */
 width: 150px;
 
 
}

#footer {
 background-color: #ffdead;
 clear: left;
 height: 80px;
 

  width: 100%;
 
}

form, .form{
	margin:0 auto;
	
	/*formを丁度良い場所に置きたい*/
	padding:50px;
}

.form {
	padding-bottom: 0;
}

.return{
        margin-top: 100px;
    }
