@charset "UTF-8";

header {
 background-color:#ffdead;
 height: 80px;
}

.leftObject {
	text-align: right;
}

article{
 display:flex;
}
aside {
 background-color: #ffefd5;
 
 height: 750px;
 width: 150px;
}
main {
 float: left;
 height: 200px;
}
footer {
 background-color: #ffdead;
 clear: left;
 height: 80px;
 
}
