@charset "UTF-8";

header {
 background-color:#ffdead;
 height: 80px;
 display:flex;
 justify-content:flex-end;
 align-items:flex-end;
 
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
}

article{
 display:flex;
 margin-top: 80px;
 width: 100%;
 
}
aside {
 background-color: #ffefd5;
 height: 700px;
 width: 150px;
 
 
}

footer {
 background-color: #ffdead;
 clear: left;
 height: 80px;
 

  width: 100%;
 
}
form{
	margin:0 auto;
	/*formを丁度良い場所に置きたい*/
	/*padding:50px;*/
	margin: 25px 0 0 50px;
}
