@charset "UTF-8";

.sendContent {
	margin: 7% 0;
	padding: 40px;
	padding-top: 10px;
	border: 4px solid rgba(108,155,210,0.6);
	border-radius: 8px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.col {
	margin: 6px;
	color: #6c757d;
	font-size: 14px;
    font-weight: 600;
}

.btnCol {
	display: flex;
	margin-top: 40px;
	justify-content: space-between;
}

.btn-outline-lb {
	background-color: transparent;
	padding: 4px 32px;
}

input{
   width: 80%;
   padding: 2px;
}

textarea {
	padding: 12px;
}